{% extends "auctions/layout.html" %}

{% block body %}



<table>
    {% for listing in listings %}
    <th>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ listing.Imageurl }}" alt="Image of item">

            <div class="card-body">
                
                <h5 class="card-title">{{ listing.Listingname }}</h5>

                <h5 class="card-title">Current Price: ${{  listing.Startbid.amount}}</h5>

                <p class="card-text">{{ listing.Description }}.</p>

                <a href="{% url 'learnmore' id=listing.id%}" >Learn More</a> 
        </div>
    </th>
    {% endfor %}
</table>
    




{% endblock %}

